<legend>Phenotype: <%= @curated_phenotype.name %></legend>

<% if current_user %>
    Form goes here
<% end %>

<em>Description:</em> <%= @curated_phenotype.description %>
<div class="container">


<%= @users.inspect %>
</div>
